@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

body {
  background-color: white !important;
  color: #18181b !important;
  margin: 0;
  font-family: sans-serif;
}

/* This replaces the old 'content' array in the config file */
@source "../app";
@source "../components";