@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

body {
  background-color: white !important;
  color: #18181b !important;
  margin: 0;
  font-family: sans-serif;
}

/* Tells Tailwind where your code is located */
@source "../app";
@source "../components";